* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.appContainer{
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 90rem;
<<<<<<< HEAD
    min-height: 100vh;
=======
>>>>>>> origin/main
    height: 100vh;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }