:root {
  /* colors */
  --primary-brand-color: #059669;
  --secondary-brand-color: #047857;
  --tertiary-brand-color: #ecfdf5;
  --background-color-one: #ffffff;
    --background-color-two: #D1FAE7;
  --primary-font--color: #a29b97;
}
